@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama-nueva');

                

.font-family-inter{
    font-family: "Inter", sans-serif;
    color: white;
}

.body{
width: 100%;
margin: 0 auto;
border: 1px blue solid; /* need to rmv ltr , just added to show up the box*/
background-color:rgb(7, 6, 6);
}


/* shared styles */

.display-flex {
    display: flex;   
   

  
}


/* header section ------------*/

.header-section{
    width:90%;
    border: 1px solid red; /* need to rmv ltr , just added to show up the box*/
    margin: 0 auto;
    justify-content: space-between;

    background: linear-gradient(90deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%); /* learned from AI*/
  

}



.header-section-heading{

 
    color: rgb(230, 83, 60);
  
    font-size: 2rem;
    font-weight: 800;
  
    text-align: left;
}



.header-section-nav-list{
    justify-content: flex-start;

    align-items: center;
   
    gap:2rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1); /* need to rmv ltr , just added to show up the box*/
    border-radius: 39px;
    padding: 0  1rem 0 0;
    list-style: none;


}

.fa-bars{ 

    /* interestingly even though i have given this display none, sometimes it comes , sometimes not, that is why i have given it a color black so i never see it here, it comes if i refresh the page otherwise do not come  */
    color: black;
    display: none;
    
}





.home-button , .service-button, .contact-button, .about-button {
color: rgb(255, 255, 255);

font-size: 1.5rem;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration: none;


}

.service-button, .contact-button, .about-button {
    padding-top: 4rem;
}



.home-button{
    /* Frame 4 */
position: static;
width: 92px;
height: 38px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 20px 8px 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
border-radius: 46px;

background: rgb(230, 83, 60);

}

/* banner-section ----- default ------*/

.banner-section{
    width:90%;
    justify-content: space-between;
    /* gap: 1rem; */
    
    margin: 0 auto;
    padding-top: 0px;

    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.banner-content-writing-container{
    border: 2px solid green; /* need to rmv ltr , just added to show up the box*/
    width: 40%;
    flex-direction: column;
    gap: .2rem;
   
  
  
   
}

.banner-content-image-container{
    position:relative;
    border: 2px solid green; /* need to rmv ltr , just added to show up the box*/
    width: 40%;

}
/* .banner-content-image-container img{
    z-index: -1;
} */

.banner-title{

color: rgb(255, 255, 255);


                                                

font-size: 4rem;
font-weight: 700;
line-height: 90%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 1.2rem;
margin-top: 1.2rem;

}

.banner-para{
    
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
padding-top: 0;
margin-top: 0;

}

.shape{
    font-family: 'Miama Nueva', sans-serif;
}


.join-club-button{

position: static;
width: 131px;
height: 22px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 12px 40px 12px 40px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0px;
text-align: left;

}

.dounload-app-btn{
    background-color: black;
    border: 1px solid white;
}
.banner-sec-button-container{
 
    margin-top: .1rem;
    justify-content: flex-start;
    gap: 2rem;
}

.banner-content-image-container{
    background-image:url('/images/Images\ 2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0px;
    
    
}

.card-on-banner-img-1{
    position: relative;
    transform: translate(28%, 345%);

    width: 10rem;
    height: 5rem;

box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);

justify-content: flex-start;
padding: .5rem .5rem .5rem .5rem;




}

.card-on-banner-img-2{
    /* positioned the card on the banner image */
    position: relative;
    transform: translate(195%, -15%);

    /* inside the card everything should start at the begaining then added padding to centre the things inside it */
    flex-direction: column;
    justify-content: flex-start;

    padding: 0 0 0 0;  /* because it was overriding padding from card on img , b caz i used that class to override the fonts and background so set it all 0 and then in the next line i needed a left padding 2rem */
    padding-left: 1.5rem ;
    padding-bottom: .3rem;


}
.card-1-header{

color: rgb(255, 255, 255);

font-size: 1rem;
font-weight: 900;
text-align: left;

margin: 0 0 0 0 ;
padding: .5rem 0 0 0;


}
.card-1-para{
color: rgba(255, 255, 255, 0.65);

font-size: .7rem;
font-weight: 400;
text-align: left;

margin: 0 0 0 0 ;
padding: .5rem 0 0 0;
}



.card-2-header{

    color: rgb(255, 255, 255);
    
    font-size: 1.5rem;
    font-weight: 900;
    text-align: left;
    
    margin: 0 0 0 0 ;
    padding: .5rem 0 0 0;
    
    }
    .card-2-para{
    color: rgba(255, 255, 255, 0.65);
    
    font-size: .7rem;
    font-weight: 400;
    text-align: left;
    
    margin: 0 0 0 0 ;
    padding: .5rem 0 0 0;
    }
.round-shape-and-card-one-writings-container{
    gap: 1rem;

}
.round-shape{
    /* Ellipse 2 */
background-color: red;
width: 2rem;
height: 2rem;
border-radius: 100%;
}
/* habit-section */

.habit-section{
    border: 2px solid green; /* need to rmv ltr , just added to show up the box*/
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;

}

.habit-section-writing-container{
    border: 2px solid green;
    width: 100%; /* it needs to take whole width of its parent who tokk 90% of his paren (which is body)*/
    margin: 0 auto; /*centering*/
    height: auto;/* need to rmv ltr , just added to show up the box*/
    text-align: center;

}

.habit-section-header{
color: rgb(255, 255, 255);

font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;

margin: 1rem 0 0 0;
padding: 0 0 0 0;

}

.habit-section-para{
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
margin: 0 0 0 0;
padding: 0 0 0 0;

}

.habit-section-img-container{
    border: 2px solid green;
    width: 100%; /* it needs to take whole width of its parent who tokk 90% of his paren (which is body)*/
    margin: 0 auto; /*centering*/
     /* need to rmv ltr , just added to show up the box*/
    gap:1rem;
    justify-content: center;
    
}

.habit-section-image-card{
  border: 1px solid blue;
    flex-direction: column;
    align-items: center;
}

.habit-section-image-card img{
    border-radius: 100%;

    margin: 0 0 0 0;
    padding: 0 0 0 0;
}



.habit-section-inside-card-heading{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: center;



margin: 1rem 0 0 0;
padding: 0 0 0 0;
}

.habit-section-inside-card-para{
    color: rgba(255, 255, 255, 0.5);
  
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    width: 65%;
    }


/* run-extra-mile-section */

.run-extra-mile-section{
    border: 2px solid rgb(163, 5, 242);
    width: 90%;
    margin: 0 auto;
  
    margin-top: 2rem;
  
    justify-content: space-around; /* as its children taking up 100% of its space , 50-50, they do not have space to leave around*/


    border-radius: 18px;

    background: rgb(34, 34, 34);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*need to adjust the shadow while removing the borders*/


}




.run-extra-mile-section-writings{
    border: 2px solid rgb(227, 125, 9);
    width: 50%; /* b caz it will take half of its parent */
    padding-left: 5rem;
    flex-direction: column;
   

}


.run-extra-mile-section-writings h3{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 90%;
letter-spacing: 0%;
text-align: left;
margin-top: .5rem;
width: 70%;
margin-top: .5rem;
margin-bottom: .5rem;
}


.run-extra-mile-section-writings p{
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
width: 70%;
margin-bottom: .5rem;
   
    }

    .join-now-btn-in-run-extra-mile-sec{color: rgb(255, 255, 255);
   

        border-radius: 46px;
        background: rgb(230, 83, 60);
        /* this button has overridden class from join club now button , then adjusted paddings */
        padding: 12px 20px 12px 20px; 
        text-decoration: none;
    }  

 .run-extra-mile-section-image-container {
        border: 2px solid rgb(215, 177, 10);
        width: 50%; /* b caz it will take half of its parent, while parent took half of his parents space */
    
    }

.run-extra-mile-section-image {

  
    height: 14rem;
    width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;


    }
    .run-extra-mile-section-image img{

        height: calc(14rem - 1rem);
        width: 100%;
        
    border-radius: 15px;
  
    }






/* trainig and ex section-------------------*/
.training-and-ex-section{
    flex-direction: column;
    justify-content: flex-start;
    align-items:center ;

    border: 2px solid rgb(163, 5, 242);
    width: 90%;
    margin: 0 auto;
    height: 200px;  /* need to rmv ltr*/
    margin-top: 2rem;

}

.training-and-ex-section-writing{
    border: 2px solid rgb(227, 125, 9);
    width: 50%; /* b caz it will take half of its parent */

}

.training-and-ex-section-image{
    border: 2px solid rgb(215, 177, 10);
    width: 50%; /* b caz it will take half of its parent, while parent took half of his parents space */

}


.bmi-section{
    border: 2px solid rgb(163, 5, 242);/* need to rmv ltr*/
    width: 40%;
    margin: 0 auto;
    text-align: start;

    margin-top: 1rem;
    margin-bottom: 1rem;

}

/* bmi calc form section -----------------*/

.bmi-calculation-sec{
    justify-content:space-around;
  
    width: 100%;
    height: 20rem; /* need to take off to adjust auto height */
    border: 1px green solid;

}

.bmi-cal-chart-container{
  
    width: 40%;
    height: 5rem;/* need to take off to adjust auto height */

    border: 1px rgb(233, 7, 154) solid;

}

.bmi-calculation-form-container{
    width: 40%;
    height: 5rem;/* need to take off to adjust auto height */
    border: 1px rgb(233, 7, 154) solid;

}

/* meet our team section ------------------*/
.meet-our-team-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid rgb(233, 88, 5);/* need to rmv ltr*/
}

.meet-our-team-writing-cotainer{
    text-align: center;
}
/* footer section. ------------------------- */

.footer-section {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    border: 2px solid rgb(233, 88, 5);/* need to rmv ltr*/

    text-align: center;

}

.footer-section-writing-and-nav-container{
    justify-content:center;
 
}

.footer-section-writing{
  
    border: 2px solid rgb(233, 88, 5);/* need to rmv ltr*/
    width: 26% ;


    text-align: left;
    padding-left: 2rem;

}

.footer-section-nav-container-1{
    border: 2px solid rgb(233, 88, 5);/* need to rmv ltr*/
    width: 26% ;

    text-align: left;
    padding-left: 2rem;

}

.footer-section-nav-container-2{
    border: 2px solid rgb(233, 88, 5);/* need to rmv ltr*/
    width: 26% ;

    text-align: left;
    padding-left: 2rem;
}



/* small device upto 576px */

@media  screen and (max-width: 576px) {

    /* header section ------------*/

   header{
    margin-top: 0px;
    padding: 0 0 0 0;
   }

.header-section{
    width:80%;
    border: none;
    margin: 0 auto;
    margin-top: 2rem;
    padding-left: 0;
    justify-content: space-between;
   

}

.header-section-heading{

    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;

}


.header-section-nav-list{
    border: none;
    justify-content: flex-end;
    padding: 0  0 0 0;
    

}

.fa-bars{  
 display: block;
 font-size: 2rem;
 color: white;
 
}



.home-button , .service-button, .contact-button, .about-button {
display: none;
}


/* banner-section */

/* banner-section ----- default ------*/

.banner-section{
    width:90%;
   flex-direction: column;
    /* gap: 1rem; */
    
    margin: 0 auto;
    padding-top: 0px;

    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.banner-content-writing-container{
    border: 2px solid green; /* need to rmv ltr , just added to show up the box*/
    width: 100%;
    flex-direction: column;
    gap: .2rem;
    margin: 0 auto;
   
  
  
   
}

.banner-content-image-container{
    position:static;
    border: 2px solid green; /* need to rmv ltr , just added to show up the box*/
    width: 100%;height: 33rem;


}


.banner-title{

color: rgb(255, 255, 255);


                                                

font-size: 4rem;
font-weight: 700;
line-height: 90%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 1.2rem;
margin-top: 1.2rem;

}

.banner-para{
    
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
padding-top: 0;
margin-top: 0;

}

.shape{
    font-family: 'Miama Nueva', sans-serif;
}


.join-club-button{

position: static;
width: 131px;
height: 22px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 12px 40px 12px 40px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0px;
text-align: left;

}

.dounload-app-btn{
    background-color: black;
    border: 1px solid white;
}
.banner-sec-button-container{
 
    margin-top: .1rem;
    justify-content: flex-start;
    gap: 2rem;
}

.banner-content-image-container{
    background-image:url('/images/Images\ 2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0px;
    
    
}

.card-on-banner-img-1{
    position: relative;
    transform: translate(28%, 345%);

    width: 10rem;
    height: 5rem;

box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);

justify-content: flex-start;
padding: .5rem .5rem .5rem .5rem;




}

.card-on-banner-img-2{
    /* positioned the card on the banner image */
    position: relative;
    transform: translate(195%, -15%);

    /* inside the card everything should start at the begaining then added padding to centre the things inside it */
    flex-direction: column;
    justify-content: flex-start;

    padding: 0 0 0 0;  /* because it was overriding padding from card on img , b caz i used that class to override the fonts and background so set it all 0 and then in the next line i needed a left padding 2rem */
    padding-left: 1.5rem ;
    padding-bottom: .3rem;


}
.card-1-header{

color: rgb(255, 255, 255);

font-size: 1rem;
font-weight: 900;
text-align: left;

margin: 0 0 0 0 ;
padding: .5rem 0 0 0;


}
.card-1-para{
color: rgba(255, 255, 255, 0.65);

font-size: .7rem;
font-weight: 400;
text-align: left;

margin: 0 0 0 0 ;
padding: .5rem 0 0 0;
}



.card-2-header{

    color: rgb(255, 255, 255);
    
    font-size: 1.5rem;
    font-weight: 900;
    text-align: left;
    
    margin: 0 0 0 0 ;
    padding: .5rem 0 0 0;
    
    }
    .card-2-para{
    color: rgba(255, 255, 255, 0.65);
    
    font-size: .7rem;
    font-weight: 400;
    text-align: left;
    
    margin: 0 0 0 0 ;
    padding: .5rem 0 0 0;
    }
.round-shape-and-card-one-writings-container{
    gap: 1rem;

}
.round-shape{
    /* Ellipse 2 */
background-color: red;
width: 2rem;
height: 2rem;
border-radius: 100%;
}

/* habit-section ------ */
.habit-section-img-container{
    flex-direction: column;
}


/* run extra mile section - ----------------- media q small device */

.run-extra-mile-section{
    border: 2px solid rgb(163, 5, 242);
    width: 90%;
    margin: 0 auto;
  
    margin-top: 2rem;
  
    justify-content: space-around; /* as its children taking up 100% of its space , 50-50, they do not have space to leave around*/


    border-radius: 18px;

    background: rgb(34, 34, 34);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*need to adjust the shadow while removing the borders*/
    flex-direction: column;


}




.run-extra-mile-section-writings{
    border: 2px solid rgb(227, 125, 9);
    width: auto; /* Q? I wanted to use calc(100%-5rem) (since i have padding left 5rem)but it is not working it is taking margin right and shrinking from right side i did not understand it, thn just adjusted with auto, for this reason i could not keep the button at the middle using margin 0 auto then i adjusted it using padding 3rem to keep it in the middle*/
    padding-left: 5rem;
    flex-direction: column;
   

}


.run-extra-mile-section-writings h3{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 90%;
letter-spacing: 0%;
text-align: left;
margin-top: .5rem;
width: 70%;
margin-top: .5rem;
margin-bottom: .5rem;
}


.run-extra-mile-section-writings p{
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
width: 70%;
margin-bottom: .5rem;
   
    }

    .join-now-btn-in-run-extra-mile-sec{color: rgb(255, 255, 255);
   

        border-radius: 46px;
       
        /* this button has overridden class from join club now button , then adjusted paddings */
        padding: 12px 40px 12px 40px; 
        text-decoration: none;
        margin: 0 1rem 0 3rem; /*i could not center the button using margin auto so did it manually, */
      
    }  

 .run-extra-mile-section-image-container {
      
        width: 100%; 
    
    }

.run-extra-mile-section-image {

  
    height: 14rem;
    width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;


    }
    .run-extra-mile-section-image img{

        height: calc(14rem - 1rem);
        width: 100%;
        
    border-radius: 15px;
  
    }


}