@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama-nueva');

                

.font-family-inter{
    font-family: "Inter", sans-serif;
    color: white;
}

.body{
width: 100%;
margin: 0 auto;
border: 1px blue solid; /* need to rmv ltr , just added to show up the box*/
background-color:rgb(7, 6, 6);
}


/* shared styles */

.display-flex {
    display: flex;   
   

  
}


/* header section ------------*/

.header-section{
    width:90%;
    border: 1px solid red; /* need to rmv ltr , just added to show up the box*/
    margin: 0 auto;
    justify-content: space-between;

    background: linear-gradient(90deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%); /* learned from AI*/
  

}



.header-section-heading{

 
    color: rgb(230, 83, 60);
  
    font-size: 2rem;
    font-weight: 800;
  
    text-align: left;
}



.header-section-nav-list{
    justify-content: flex-start;

    align-items: center;
   
    gap:2rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1); /* need to rmv ltr , just added to show up the box*/
    border-radius: 39px;
    padding: 0  1rem 0 0;
    list-style: none;


}

.fa-bars{ 

    /* interestingly even though i have given this display none, sometimes it comes , sometimes not, that is why i have given it a color black so i never see it here, it comes if i refresh the page otherwise do not come  */
    color: black;
    display: none;
    
}





.home-button , .service-button, .contact-button, .about-button {
color: rgb(255, 255, 255);

font-size: 1.5rem;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration: none;


}

.service-button, .contact-button, .about-button {
    padding-top: 4rem;
}



.home-button{
    /* Frame 4 */
position: static;
width: 92px;
height: 38px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 20px 8px 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
border-radius: 46px;

background: rgb(230, 83, 60);

}

/* banner-section ----- default ------*/

.banner-section{
    width:90%;
    justify-content: space-between;
    
    margin: 0 auto;

    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.banner-content-writing-container{
    border: 2px solid green; /* need to rmv ltr , just added to show up the box*/
    width: 40%;
  
   
}

.banner-content-image-container{
    position:relative;
    border: 2px solid green; /* need to rmv ltr , just added to show up the box*/
    width: 40%;

}
/* .banner-content-image-container img{
    z-index: -1;
} */

.banner-title{

color: rgb(255, 255, 255);


                                                

font-size: 5rem;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;

}

.banner-para{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}

.shape{
    font-family: 'Miama Nueva', sans-serif;
}


.join-club-button{
/* Join Club Now! */
position: static;
width: 131px;
height: 22px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 16px 40px 16px 40px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: left;

}

.dounload-app-btn{
    background-color: black;
    border: 1px solid white;
}
.banner-sec-button-container{
 
   
    justify-content: flex-start;
    gap: 2rem;
}

.banner-content-image-container{
    background-image:url('/images/Images\ 2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.card-on-banner-img-1{
    position: relative;
    /* z-index: 1; */
    transform: translate(-15%, 440%);

    width: 205px;
    height: 96px;

box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);




}

.card-on-banner-img-2{
    position: relative;
    transform: translate(140%, 20%);
    



}
.card-1-header{

color: rgb(255, 255, 255);

font-size: 2rem;
font-weight: 900;
text-align: left;

margin: 0 0 0 0 ;
padding: 1rem 0 0 0;

}
.card-1-para{
color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
text-align: left;

margin: 0 0 0 0 ;
padding: .5rem 0 0 0;
}
/* habit-section */

.habit-section{
    border: 2px solid green; /* need to rmv ltr , just added to show up the box*/
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;

}

.habit-section-writing-container{
    border: 2px solid green;
    width: 100%; /* it needs to take whole width of its parent who tokk 90% of his paren (which is body)*/
    margin: 0 auto; /*centering*/
    height: 200px;/* need to rmv ltr , just added to show up the box*/

}

.habit-section-img-container{
    border: 2px solid green;
    width: 100%; /* it needs to take whole width of its parent who tokk 90% of his paren (which is body)*/
    margin: 0 auto; /*centering*/
    height: 200px;  /* need to rmv ltr , just added to show up the box*/
}


/* run-extra-mile-section */

.run-extra-mile-section{
    border: 2px solid rgb(163, 5, 242);
    width: 90%;
    margin: 0 auto;
    height: 200px;  /* need to rmv ltr*/
    margin-top: 2rem;
  
    justify-content: space-around; /* as its children taking up 100% of its space , 50-50, they do not have space to leave around*/


}

.run-extra-mile-section-writings{
    border: 2px solid rgb(227, 125, 9);
    width: 50%; /* b caz it will take half of its parent */

}

.run-extra-mile-section-image{
    border: 2px solid rgb(215, 177, 10);
    width: 50%; /* b caz it will take half of its parent, while parent took half of his parents space */

}
/* trainig and ex section-------------------*/
.training-and-ex-section{
    flex-direction: column;
    justify-content: flex-start;
    align-items:center ;

    border: 2px solid rgb(163, 5, 242);
    width: 90%;
    margin: 0 auto;
    height: 200px;  /* need to rmv ltr*/
    margin-top: 2rem;

}

.training-and-ex-section-writing{
    border: 2px solid rgb(227, 125, 9);
    width: 50%; /* b caz it will take half of its parent */

}

.training-and-ex-section-image{
    border: 2px solid rgb(215, 177, 10);
    width: 50%; /* b caz it will take half of its parent, while parent took half of his parents space */

}


.bmi-section{
    border: 2px solid rgb(163, 5, 242);/* need to rmv ltr*/
    width: 40%;
    margin: 0 auto;
    text-align: start;

    margin-top: 1rem;
    margin-bottom: 1rem;

}

/* bmi calc form section -----------------*/

.bmi-calculation-sec{
    justify-content:space-around;
  
    width: 100%;
    height: 20rem; /* need to take off to adjust auto height */
    border: 1px green solid;

}

.bmi-cal-chart-container{
  
    width: 40%;
    height: 5rem;/* need to take off to adjust auto height */

    border: 1px rgb(233, 7, 154) solid;

}

.bmi-calculation-form-container{
    width: 40%;
    height: 5rem;/* need to take off to adjust auto height */
    border: 1px rgb(233, 7, 154) solid;

}

/* meet our team section ------------------*/
.meet-our-team-section {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid rgb(233, 88, 5);/* need to rmv ltr*/
}

.meet-our-team-writing-cotainer{
    text-align: center;
}
/* footer section. ------------------------- */

.footer-section {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    border: 2px solid rgb(233, 88, 5);/* need to rmv ltr*/

    text-align: center;

}

.footer-section-writing-and-nav-container{
    justify-content:center;
 
}

.footer-section-writing{
  
    border: 2px solid rgb(233, 88, 5);/* need to rmv ltr*/
    width: 26% ;


    text-align: left;
    padding-left: 2rem;

}

.footer-section-nav-container-1{
    border: 2px solid rgb(233, 88, 5);/* need to rmv ltr*/
    width: 26% ;

    text-align: left;
    padding-left: 2rem;

}

.footer-section-nav-container-2{
    border: 2px solid rgb(233, 88, 5);/* need to rmv ltr*/
    width: 26% ;

    text-align: left;
    padding-left: 2rem;
}



/* small device upto 576px */

@media  screen and (max-width: 576px) {

    /* header section ------------*/

   header{
    margin-top: 0px;
    padding: 0 0 0 0;
   }

.header-section{
    width:80%;
    border: none;
    margin: 0 auto;
    margin-top: 2rem;
    padding-left: 0;
    justify-content: space-between;
   

}

.header-section-heading{

    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;

}


.header-section-nav-list{
    border: none;
    justify-content: flex-end;
    padding: 0  0 0 0;
    

}

.fa-bars{  
 display: block;
 font-size: 2rem;
 color: white;
 
}



.home-button , .service-button, .contact-button, .about-button {
display: none;
}


/* banner-section */



}